
html,
body {
    height: 100%;
    width: 100%;
}
body * {
    margin: 0;
    font-style: normal;
    box-sizing: border-box; 
    list-style-type: none;
    text-decoration: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.container {
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.pageHeader {
    max-width: 1200px;
    margin: 0 auto;
}
.pageHeader .headerUp {
    margin-top: 30px;
    min-height: 51px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-template-areas: "logo clock mail mobile";
    grid-gap: 8px;
}
@media (max-width: 1050px) {
    .pageHeader .headerUp {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:        
        "logo . . "
        "clock mail mobile";
    }
}
@media (max-width: 650px) {
    .pageHeader .headerUp {
        grid-template-columns: 1fr;
        grid-row-gap: 10px; 
        grid-template-areas:        
        "logo"
        "clock"
        "mail"
        "mobile";
    }
}
.pageHeader .headerUp .headLogo {
    height: 51px;
    grid-area: logo;
}
.pageHeader .headerUp .headerUnit {
    align-items: center;
    min-height: 51px;
    padding: 5px 0 0 60px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 15px;
    color: #6a6a6a;
}
    .headerClock {
        grid-area: clock;
        background: url(../img/workTime.png) no-repeat left center;
    }
    .headerMail {
        grid-area: mail;
        background: url(../img/mailUs.png) no-repeat left center;
    }
    .headerMobile {
        grid-area: mobile;
        background: url(../img/callUs.png) no-repeat left center;
    }

.pageHeader .headerUp .headerUnit .headerUpText{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.pageHeader hr{
    border-top: 2px solid #eee;
    margin-top: 20px;
}
.pageHeader .headerLine {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 230px;
}
.pageHeader .headerLine ul {    
    padding: 0;
}
.pageHeader .headerLine .nav {
    display: flex;
    flex-direction: row; 
}
.pageHeader .headerLine .nav a {
    color: #6c6c6c;
    font-family: "open sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    transition-duration: .5s;
}
.pageHeader .headerLine .nav a:hover,
.pageHeader .headerLine .social i:hover {
    color: #262626;    
}
.pageHeader .headerLine .social {
    display: flex;
    flex-direction: row;  
}
.pageHeader .headerLine .social li a {
    color: #6c6c6c;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 25px;
}
@media (max-width: 850px) {
    .pageHeader .headerLine {
        grid-template-columns: 1fr;
    }
    .pageHeader .headerLine .nav {
        display: flex;
        flex-direction: column;
    }
    .pageHeader .headerLine .nav a {
        line-height: 40px;
        padding: 0;
    }
    .pageHeader .headerLine .social {
        margin-top: 10px;
        justify-content: flex-start;
    }
}
.banner {
    background: url(../img/banner_bg.jpg) no-repeat center center;
    background-size: cover;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    float: left;
    height: 640px;
}
.banner .banerContent {
    max-width: 1200px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.banner .banerContent .bannerContentInside {
    text-align: center;
}
.banner .banerContent .bannerTxt {
    color: #474747;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -2.5px;
    margin-bottom: 35px;
}
.banner .banerContent .bannerDisc {
    color: #3f3f3f;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
    letter-spacing: 0.6px;
}
@media all and (min-width: 0) and (max-width: 768px) {
    .banner .banerContent .bannerContentInside  {
        padding: 15px;    }
    .banner .banerContent .bannerTxt {
        font-size: 38px;
    }
    .banner .banerContent .bannerDisc {
        font-size: 12px;
    }
}
.banner .banerContent button {
    padding: 17px 30px;
    border: 1px solid #018dc4;
    border-radius: 30px;
    color: #ffffff;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    transition-duration: .5s;
} 
.banner .banerContent button:hover,
main .worksCreativeWrap .worksBtn button:hover,
main .aboveFooter button:hover,
footer .footerUp .footerEnquiryForm button:hover {
    background-color: #1B5583;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.4);
    transform: scale(1.05, 1.05); 
}

.offer {
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    background: linear-gradient(90deg, #43b1d2 0%, #37c3a8 100%);
}
.offer .offerUnits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}
@media (max-width: 1000px) {
    .offer .offerUnits {
        grid-template-columns: 1fr 1fr;
        height: 100%;
        background: linear-gradient(180deg, #43b1d2 0%, #37c3a8 100%);
    }
}
@media (max-width: 600px) {
    .offer .offerUnits {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        background: linear-gradient(180deg, #43b1d2 0%, #37c3a8 100%);
    }
}
.offer .offerUnits .offerUnit {
    padding: 77px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.offer .offerUnits .offerUnit .offerImg {
    width: 75px;
    height: 75px;
    background-size: contain;
}
    .bestTreatment {
        background: url(../img/bestTreatment.png) no-repeat center center;
    }
    .emergencyHelp {
        background: url(../img/emergencyHelp.png) no-repeat center center;
    }
    .medicalStaff {
        background: url(../img/medicalStuff.png) no-repeat center center;
    }
    .qualifiedDoctors {
        background: url(../img/qualifiedDoctors.png) no-repeat center center;
    }

.offer .offerUnits .offerUnit .offerTitle {
    max-width: 270px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 10px;
    text-align: center;
}
.offer .offerUnits .offerUnit .offerDesc {
    max-width: 270px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
    letter-spacing: -1.1px;
    text-align: center;
}

.whyChooseUs {
    width: 100%;
    float: left;
}
.whyChooseUs .chooseUsHead {
    color: #494949;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 25px;
}
.whyChooseUs .chooseUsDesc {
    max-width: 1200px;
    margin: 0 auto;
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.whyChooseUs .chooseUsContent {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 337px 1fr;
    grid-template-areas: "chooseOne chooseDoctor chooseTwo"
        "chooseTree chooseDoctor chooseFour";
    grid-gap: 20px;
}
.whyChooseUs .chooseUsContent .chooseUsContentUnit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.whyChooseUs .chooseUsContent .chooseUnit1 {
    grid-area: chooseOne;
}
.whyChooseUs .chooseUsContent .chooseUnit2 {
    grid-area: chooseTwo;
}
.whyChooseUs .chooseUsContent .chooseUnit3 {
    grid-area: chooseTree;
}
.whyChooseUs .chooseUsContent .chooseUnit4 {
    grid-area: chooseFour;
}
.whyChooseUs .chooseUsContent .choose1 {
    background: url(../img/choose1.png) no-repeat;
}
.whyChooseUs .chooseUsContent .choose2 {
    background: url(../img/choose2.png) no-repeat;
}
.whyChooseUs .chooseUsContent .choose3 {
    background: url(../img/choose3.png) no-repeat;
}
.whyChooseUs .chooseUsContent .choose4 {
    background: url(../img/choose4.png) no-repeat;
}
.whyChooseUs .chooseUsContent .chooseUsContentUnit .chooseUsContentHead {
    width: 177px;
    height: 75px;
    color: #6f6f6e;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    padding-left: 95px;
    line-height: 75px;
}
.whyChooseUs .chooseUsContent .chooseUsContentUnit .chooseUsContentDesc {
    margin-top: 20px;
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 363px;
}
.whyChooseUs .chooseUsContent .chooseUsDoctor {
    background: url(../img/WhyCooseUs_bg.png) no-repeat center center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
    height: 598px;
    grid-area: chooseDoctor;
}
@media (max-width: 950px)  {
    .whyChooseUs .chooseUsContent {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "chooseOne chooseDoctor"
         "chooseTwo chooseDoctor" "chooseTree chooseFour";
    }
    .whyChooseUs {
        margin-bottom: 60px;
    }
}
@media (max-width: 700px) {
    .whyChooseUs .chooseUsContent {
        grid-template-columns: 1fr;
        grid-template-areas: "chooseDoctor"
        "chooseOne" "chooseTwo" "chooseTree" "chooseFour";
    }
    .whyChooseUs .chooseUsContent .chooseUsContentUnit {
        text-align: center;
    }
}

main .achievements {
    background: url(../img/achievements.jpg) no-repeat center center;
    background-size: cover;
    min-height: 792px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
main .achievementsContent {
        min-height: inherit; 
        display: grid;
        grid-template-columns: repeat(4, 1fr ); 
        margin: 0 auto;
        grid-gap: 30px;
}
@media (max-width: 800px) {
    main .achievementsContent {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 460px) {
    main .achievementsContent {
        grid-template-columns: 1fr;
    }
    main .achievements {
        padding: 50px;
    }
}
main .achievementsContent .achieveUnit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .achievementsContent .achieveUnit .achieveIco {
    width: 120px;
    height: 120px;
}
main .achievementsContent .achieveUnit .happyCust {
    background: url(../img/happyCust.png) no-repeat center center;
}
main .achievementsContent .achieveUnit .topHospitality {
    background: url(../img/topHospitality.png) no-repeat center center ;
}
main .achievementsContent .achieveUnit .innovateApproach {
    background: url(../img/innovateApproach.png) no-repeat center center;
}
main .achievementsContent .achieveUnit .lungReplacement {
    background: url(../img/lungReplacement.png) no-repeat center center;
}
main .achievementsContent .achieveUnit .achieveNum {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
    text-align: center;
}
main .achievementsContent .achieveUnit .achieveLine {
    width: 84px;
    height: 6px;
    background-color: #ffffff;
    margin-top: 15px;
}
main .achievementsContent .achieveUnit .achieveText {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
    text-align: center;
    margin-top: 25px;
}

main .worksCreative {
    width: 100%;
    float: left;
    margin-top: 100px;
}
main .worksCreative .worksCreativeWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "worksTitile worksTitile creativeTitile"
    "worksText worksText creativeText"
    "worksImgL worksImgR heartTreatment"
    "worksImgSubL worksImgSubR treatmentTabs"
    "worksBtn worksBtn .";
    grid-gap: 20px;
}
main .worksCreativeWrap .worksTitile,
main .worksCreativeWrap .creativeTitile {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
}
main .worksCreativeWrap .worksTitile {
    grid-area: worksTitile;
}
main .worksCreativeWrap .creativeTitile {
    grid-area: creativeTitile;
}
main .worksCreativeWrap .worksText,
main .worksCreativeWrap .creativeText,
main .worksCreativeWrap .heartTreatment .heartTreatmentText,
main .worksCreativeWrap .heartTreatment .worksSubText,
main .worksCreativeWrap .worksImgSub .worksSubText {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
 }
 main .worksCreativeWrap .worksText {
    grid-area: worksText;
 }
 main .worksCreativeWrap .creativeText {
    grid-area: creativeText;
 }
main .worksCreativeWrap .worksImgL {
    grid-area: worksImgL;
}
main .worksCreativeWrap .worksImgR {
    grid-area: worksImgR;
}
main .worksCreativeWrap img {
    width: 100%;  
}
main .worksCreativeWrap .heartTreatment {
    grid-area: heartTreatment;
}
main .worksCreativeWrap .heartTreatment .heartTreatmentTitle {
    width: 100%;
    margin: 0 auto;
    height: 54px;
    line-height: 54px;
    padding-left: 65px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    background: url(../img/heartPoint.png) no-repeat 10px center, #0087be;
    border-radius: 50px;
    transition: 0.5s;
}
main .worksCreativeWrap .heartTreatment .heartTreatmentTitle:hover {
    background: url(../img/heartPoint.png) no-repeat 10px center, #e2e2e2;
}

main .worksCreativeWrap .heartTreatment .heartTreatmentText {
    margin-top: 20px;
}
main .worksCreativeWrap .worksImgSub1 {
    grid-area: worksImgSubL;
}
main .worksCreativeWrap .worksImgSub2 {
    grid-area: worksImgSubR;
}
main .worksCreativeWrap .worksImgSub .worksSubTitle {
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
}
main .worksCreativeWrap .worksImgSub .worksSubDate {
    color: #0087be;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin-bottom: 25px;
}
main .worksCreativeWrap .HeartTreatmentTabs {
    grid-area: treatmentTabs;
}
main .worksCreativeWrap .HeartTreatmentTabs .treatmentTab {
    width: 100%;
    height: 54px;
    line-height: 54px;
    padding-left: 65px;
    color: #494949;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    background: url(../img/heartPoint.png) no-repeat 10px center, #e2e2e2;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: 0.5s;
}
main .worksCreativeWrap .HeartTreatmentTabs .treatmentTab:hover {
    background: url(../img/heartPoint.png) no-repeat 10px center, #0087be;
    opacity: 1;
    transform: scale(1.05, 1.05); 
    color: #e2e2e2;
    }
main .worksCreativeWrap .worksBtn {
    display: flex;
    justify-content: center;
    grid-area: worksBtn;
}
main .worksCreativeWrap .worksBtn button {
    padding: 17px 30px;
    border: 1px solid #018dc4;
    border-radius: 30px;
    color: #ffffff;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    transition-duration: .5s;
}
@media (max-width: 1000px) {
    main .worksCreative .worksCreativeWrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "worksTitile worksTitile"
        "worksText worksText" 
        "worksImgL worksImgR"
        "worksImgSubL worksImgSubR" 
        "creativeTitile creativeTitile" 
        "creativeText creativeText"

        "heartTreatment treatmentTabs"
        "worksBtn worksBtn";
    } 
    main .worksCreativeWrap .worksImgSub .worksSubTitle {
        text-align: center;
    }  
}
@media (max-width: 750px) {
    main .worksCreative .worksCreativeWrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "worksTitile" "worksText" 
        "worksImgL" "worksImgSubL"
         "worksImgR" "worksImgSubR"
         "creativeTitile""creativeText"
        "heartTreatment" "treatmentTabs"
        "worksBtn";
    }
}
main .gallery {
    margin-top: 100px;
    background: url(../img/galleryBg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 830px;
    float: left;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
}
main .gallery .galleryTitle {
    margin-top: 95px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
main .gallery .galleryText {
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
    padding: 0 50px;
}
main .gallery .galleryContent {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    justify-items: center;
    
}
.galleryContentUnit {
    transform-style: preserve-3d;
    transition-duration: 2s;
    max-height: 210px;
    position: relative;
}
.galleryContentUnit:hover {
    transform: rotateY(180deg);
}

.galleryContent img {
    width: 100%;
    transition-duration: 1s;
    backface-visibility: hidden;
}
    .galleryContent .imgDesc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: justify;
        box-sizing: border-box;
        padding: 10px;
        background: linear-gradient(180deg, #43b1d2 0%, #37c3a8 100%);
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

@media (max-width: 950px) {
    main .gallery .galleryContent {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        margin-bottom: 60px;
    }
}
@media (max-width: 750px) {
    main .gallery .galleryContent {
        grid-template-columns: 1fr;
    }
    main .gallery .galleryText {
            padding: 0 20px;
    }
}

main .ourTeam {
    margin-top: 150px;
    margin-bottom: 100px;
    float: left;
    width: 100%;
}
main .ourTeam .teamTitle {
    color: #494949;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
main .ourTeam .teamText {
    text-align: center;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 50px;
    padding: 0 100px;
}
main .ourTeam .ourTeamContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
    margin-top: 85px;
}
main .ourTeam .ourTeamContent .teamUnit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .ourTeam .ourTeamContent .teamUnit .teamImg { 
    position: relative;
}
main .ourTeam .ourTeamContent .teamUnit .teamImg img {
    width: 100%;
}
main .ourTeam .ourTeamContent .teamImg .teamBtn {
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 17px 30px;
    border: 1px solid #018dc4;
    border-radius: 30px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    text-align: center;
}
main .ourTeam .ourTeamContent .teamImg .teamBtn a {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.32px;
}

main .ourTeam .ourTeamContent .teamUnit .temName {
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
}
main .ourTeam .ourTeamContent .teamUnit .teamPosition {
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1.09px;
    margin-top: 10px;
}
main .ourTeam .ourTeamContent .teamUnit .teamSocials {
    font-size: 25px;
    margin-top: 25px;
}
main .ourTeam .ourTeamContent .teamUnit .teamSocials i {
    font-size: 20px;
    color: #6f6f6e;
    font-size: 23px;
    font-weight: 400;
}
main .ourTeam .ourTeamContent .teamUnit .teamSocials i:hover {
    color: #262626;
}
@media (max-width: 1050px) {
    main .ourTeam .ourTeamContent .teamUnit .temName {
        font-size: 18px;
}
    main .ourTeam .ourTeamContent .teamUnit .teamPosition {
        font-size: 12px;
    }
    main .ourTeam .ourTeamContent .teamUnit .teamSocials {
        font-size: 20px;
    }
}
@media (max-width: 950px) {
    main .ourTeam .ourTeamContent {
        grid-template-columns: 1fr 1fr;
    }   
    main .ourTeam .teamText {
        padding: 0;
    } 
}
@media (max-width: 600px) {
    main .ourTeam .ourTeamContent {
        grid-template-columns: 1fr;
    }    
}
main .aboveFooter {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    float: left;
    background: #e2e2e2;
    min-height: 180px;
    padding: 50px;       
}
main .aboveFooter .aboveFooterContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main .aboveFooter .aboveFooterText {
    color: #494949;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}
main .aboveFooter button {
    padding: 17px 30px;
    border: 1px solid #018dc4;
    border-radius: 30px;
    color: #ffffff;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin-left: 30px;
    min-width: 170px;
    transition-duration: .5s;
}
@media (max-width: 450px) {
    main .aboveFooter .aboveFooterText {
        font-size: 20px;
    }
}
footer {
    float: left;
    background-color: #171717;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 100px 20px;
}
footer .footerUp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-template-areas: " getInTouch quickLinks ourServices enquiryForm "
}
footer .footerUp .footerTitle {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-bottom: 50px;
}
footer .footerUp .footerGetInTouch {
    grid-area: getInTouch;
}
footer .footerUp .footerGetInTouch .footerText {
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 50px;
}
footer .footerUp .footerQuickLinks {
    display: flex;
    flex-direction: column;
    grid-area: quickLinks;
}
footer .footerUp .footerOurServices {
    display: flex;
    flex-direction: column;
    grid-area: ourServices;
}
footer .footerUp .footerUpUnit a{
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
    background: url(../img/triangle.png) no-repeat left center;
    padding-left: 20px;
}
footer .footerUp .footerEnquiryForm {
    width: 230px;
    grid-area: enquiryForm;
}
footer .footerUp .footerEnquiryForm input,
footer .footerUp .footerEnquiryForm textarea {
    color: #ffffff;
    outline: none;
    border: 0;
    margin-bottom: 10px;
    background: transparent;
    width: 231px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.42);
}
footer .footerUp .footerEnquiryForm textarea {
      height: 100px;
}
footer .footerUp .footerEnquiryForm button {
    padding: 7px 27px;
    border: 1px solid #018dc4;
    border-radius: 30px;
    color: #ffffff;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin-top: 25px;
}
footer .footerUp .footerSocials {
    display: flex;
    flex-direction: row;
}
footer .footerUp .footerSocials a {
     color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 25px;
}
footer .footerUp .footerSocials a:hover {
    color: #1a9bdc;
}
@media (max-width: 750px)  {
    footer .footerUp {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "quickLinks ourServices" "getInTouch enquiryForm"
    }
}
@media (max-width: 500px)  {
    footer .footerUp {
        grid-template-columns: 1fr;
        grid-template-areas: "quickLinks" 
        "ourServices" 
        "getInTouch" 
        "enquiryForm"
    }
    footer .footerUp .footerSocials {
        margin-top: 30px;
    }
}
footer .footerBottom {
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    padding: 50px 0;
    box-sizing: border-box;
    color: #6c6c6c;
    font-size: 13px;
    font-family: "Open Sans Regular", sans-serif;
    text-align: center;
    background: #1a1a1a;
}
@media (max-width: 550px) {
    footer {
        padding-bottom: 0;
    }
    footer .footerBottom {
        padding: 50px;
    }
}


